<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property scope="context" name="PROFILE" value="${spring.profiles.active}" />

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
  </springProfile>

    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <!-- <encoder class="net.logstash.logback.encoder.LogstashEncoder"/> -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "profile":"${PROFILE:-}",
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "parent": "%X{X-B3-ParentSpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
  </appender>

    <root level="INFO">
        <if condition='isNull("PROFILE") || !(property("PROFILE").equals("dev"))'>
            <then>
                <appender-ref ref="jsonConsole" />
            </then>
        </if>

    </root>
</configuration>